<% include ../head.ejs %>

<div class="topmargin">
    <div class="container">

        <h1>Samples</h1>

        <h2 class="mt-4">Your groups samples</h2>
        <% SortToRows(3, samples.mine).map(row=>{ %>
        <div class="row">
            <% row.map(sample=>{ %>
            <div class="col-sm-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title"><%- sample.accession %></h4>
                        <a href="/samples/<%- sample.accession %>" class="btn btn-primary">Show</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <% }) %>

        <h2 class="mt-4">Unclaimed samples</h2>

        <% SortToRows(4, samples.unclaimed).map(row=>{ %>
        <div class="row">
            <% row.map(sample=>{ %>
            <div class="col-sm-3">
                <a href="/samples/<%- sample.accession %>"><%- sample.accession %></a>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>
</div>

<% include ../foot.ejs %>